:root {
  --pale-grey: #f5f6fa;
  --azure: #0290ff;
  --black-two: #121212;
}

.App {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--pale-grey);
}

.main-wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: #fafafa;
}

.header {
  width: 100%;
  height: 5.938rem;
  margin: 2rem auto;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  margin-right: 3rem;
}

.logo-navabr {
  display: flex;
  justify-content: center;
}

.logo {
  height: 2.313rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}

.book-link {
  width: auto;
  height: 1rem;
  font-size: 0.813rem;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.category-link {
  width: auto;
  height: 1rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.ico-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.user-icon {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
}

.primary-color {
  color: #0290ff;
}

.books-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
  margin-bottom: 1.62rem;
}

.book-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
}

.book-category,
.book-title {
  font-weight: 700;
  color: #121212;
}

.book-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.book-title {
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.btn {
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.vertical-divider {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.progress {
  display: flex;
  align-items: center;
}

.progress-circle-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circular {
  position: absolute;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: rgb(48, 123, 190);
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.percentage,
.status {
  font-family: "Montserrat", sans-serif;
  color: #121212;
}

.percentage {
  font-size: 2rem;
}

.status {
  font-size: 0.875rem;
  opacity: 0.5;
}

.vertical-bar-progress {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.chapter-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 14rem;
}

.current-chapter,
.chapter {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
}

.current-chapter {
  font-size: 0.813rem;
  opacity: 0.5;
  margin-top: 0.438rem;
  letter-spacing: -0.4px;
}

.update-chapter-btn {
  width: 170px;
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.end-of-book-lists-divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}

/* Beginning of Add Book form */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
  text-align: left;
  padding-left: 98px;
}

.form {
  margin-top: 20px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-around;
  padding: 0 98px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.input-title,
.input-author {
  width: 400px;
}

.input-author {
  margin-top: 10px;
}

.category-options {
  width: 300px;
}

.submit-btn {
  cursor: pointer;
  width: 15%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.form-title,
.input {
  font-family: "Montserrat", sans-serif;
}
