* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#root {
  margin: 0;
padding: 0 0 8%;
border-radius: 4px;
box-shadow: 0 0 60px 0 rgba(0,0,0,.05);
background-color: #fafafa;
}

body {
 /*  overflow: hidden; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
